---
import BaseBlock from '../blocks/BaseBlock.tsx';
import Container from '../ui/Container.tsx';
import type { PageBlock } from '@/types/directus-schema';

const { sections } = Astro.props;


const validBlocks: PageBlock[] = sections.filter(
  (block: PageBlock): block is PageBlock & { collection: string; item: object } =>
    typeof block.collection === "string" &&
    !!block.item &&
    typeof block.item === "object"
);
---

<div>
  {validBlocks.map((block) => (
    <div data-background={block.background} class="py-16">
      <Container>
        <BaseBlock block={block} client:load />
      </Container>
    </div>
  ))}
</div>
