PUBLIC_DIRECTUS_URL=http://localhost:8055
PUBLIC_SITE_URL=http://localhost:3000
DIRECTUS_SERVER_TOKEN=token_from_Webmaster_account
DIRECTUS_FORM_TOKEN=token_from_Frontend_Bot_User_account
PUBLIC_ENABLE_VISUAL_EDITING=true